/* Remove margens e paddings padrão */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; /* Garante que o body ocupe a altura da janela */
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

/* Configura o container principal para ajustar o layout */
#root {
  min-height: 100%; /* Garante que o elemento raiz ocupe 100% da altura */
  display: flex;
  flex-direction: column; /* Alinha os elementos em coluna */
}

/* Estilos globais */
* {
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}
