.exercicios-container {
  padding: 40px 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

/* Responsividade para telas médias */
@media (max-width: 1024px) {
  .exercicios-container {
    padding: 20px 15px;
  }
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
  .exercicios-container {
    padding: 20px 15px;
  }
}

/* Responsividade para telas muito pequenas */
@media (max-width: 480px) {
  .exercicios-container {
    padding: 248px 15px;
  }
}
