.exercicios-container {
  padding: 5px 5px;
  margin: 210px auto 76px;
  max-width: 800px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

/* Responsividade para telas médias */
@media (max-width: 1024px) {
  .exercicios-container {
    padding: 94px 94px;
  }
}

@media (max-width: 1080px) {
  .exercicios-container {
    padding: 94px 94px;
  }
}

@media (max-width: 1440px) {
  .exercicios-container {
    padding: 94px 94px;
    margin: 235px auto 88px;
  }
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
  .exercicios-container {
    padding: 94px 94px;
  }
}

/* Responsividade para telas muito pequenas */
@media (max-width: 480px) {
  .exercicios-container {
    padding: 94px 94px;
  }
}
