/* Estilo do card que envolve o formulário */
.container-home {
  width: 100%;
  padding: 160px 20px; /* Ajuste de padding para telas menores */
  margin: 0 auto;
  border-radius: 20px;
  max-width: 1200px;
}

/* Seções */
section {
  margin: 30px 0;
  padding: 20px;
  background-color: #ecf9ea; /* Fundo mais claro */
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08); /* Sombra mais sutil */
}

/* Títulos das Seções */
.section-title {
  font-size: 26px;
  color: #11c26c;
}

/* Texto das Seções */
.section-text {
  font-size: 20px;
  line-height: 1.8; /* Melhor espaçamento entre linhas */
  text-align: c; /* Para melhorar a leitura em telas menores */
}

/* Botão */
.btn-success {
  background-color: #11c26c;
  color:#ffffff;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 16px;
}

.btn-success:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.btn-success:active {
  background-color: #1e7e34;
  transform: scale(0.98); /* Contração leve ao clicar */
}

/* Responsividade para telas médias e pequenas */
@media (max-width: 1024px) {
  .container-home {
    padding: 130px 15px;
  }
  
  .section-title {
    font-size: 24px;
  }
  
  .section-text {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .container-home {
    padding: 130px 10px;
  }
  
  section {
    margin: 20px 10px; /* Reduz margens laterais */
  }

  .section-title {
    font-size: 22px;
  }

  .section-text {
    font-size: 16px;
  }

  .btn-success {
    padding: 8px 20px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .container-home {
    padding: 130px 5px;
  }

  .section-title {
    font-size: 20px;
  }

  .section-text {
    font-size: 14px;
    line-height: 1.6;
  }

  .btn-success {
    width: 80%; /* Botão em largura total para telas muito pequenas */
    padding: 10px;
  }
}
