h1 {
  color: #28a745; /* Verde da página */
}

/* Estilos para os subtítulos */
h2 {
  color: #28a745; /* Verde da página para os subtítulos */
}

/* Estilos para parágrafos */
p {
  color: #495057; /* Cor de texto média */
}

/* Botão personalizado */
.btn-success {
  background-color: #28a745; /* Verde do Bootstrap */
  border: none;
  transition: background-color 0.3s; /* Efeito de transição ao passar o mouse */
}

.btn-success:hover {
  background-color: #218838; /* Tom mais escuro quando o mouse passa por cima */
}

/* Estilo para as imagens */
.img-fluid {
  border-radius: 10px; /* Bordas arredondadas nas imagens */
}

/* Margens para seções */
.mb-4 {
  margin-bottom: 1.5rem; /* Espaçamento abaixo das seções */
}

.mt-5 {
  margin-top: 3rem; /* Espaçamento acima das seções */
}

/* Texto centralizado */
.text-center {
  text-align: center; /* Centraliza o texto */
}

/* Estilo para a chamada para ação */
.text-center h2 {
  margin-top: 2rem; /* Margem acima do título */
}

.text-center p {
  margin-bottom: 2rem; /* Margem abaixo do parágrafo */
}

/* Adicionando um pouco de espaçamento nas seções */
.container-sobre {
  padding-top: 100px; /* Espaçamento no topo */
  margin-bottom: 100px; /* Espaçamento no fundo */
  width: 100%;
  background-color: #ffffff; /* Ajuste da cor branca correta */
  padding: 40px;
  border-radius: 20px;
}
